# Exclude Directories
.buildozer/
.vs/
bin/
Nomogram_Project_Files/
Protect/

# Exclude Files
invokeEmulator.sh
*.user
src/shaders/fan.glsl
src/shaders/fan_o.glsl
src/shaders/test_glsl.py
src/art/Buttons/*
!src/art/Buttons/buttons.png
!src/art/Buttons/buttons.atlas
